##
## application.yml — главный конфигурационный файл Spring Boot.
#
#Что нужно сделать:
#  - Указать настройки подключения к базе данных.
#  - Указать порт приложения.
#  - Настроить параметры безопасности и JWT.
#  - Включить Swagger UI.

spring:
  application:
    name: tt_test

  datasource:
    url: jdbc:postgresql://localhost:5432/db
    driver-class-name: org.postgresql.Driver
    password: postgres
    username: postgres
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: create-drop
    database-platform:
      org:
        hibernate:
          dialect:
            PostgreSQLDialect:

